html {
  box-sizing: border-box;
  font-family: "Tangerine", monospace;
}
body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: #acbfa4;
  box-sizing: inherit;
}
.container {
  display: flex;
  flex-direction: column;
  font-family: "Tangerine", monospace;
  height: 90vh;
  width: 960px;
  background-color: #ff1b1c;
  border-radius: 32px;
  color: #e2e8ce;
  position: relative;
}
.header {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 36px;
  text-transform: capitalize;
}
.header h1 {
  font-size: 36px;
  font-weight: 700;
}
.header p {
  font-size: 32px;
}
.popup {
  margin: 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #262626;
  font-size: 24px;
}
.popup input {
  border-radius: 8px;
  border-style: none;
  padding: 8px;
}
.colors {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 8px;
  text-align: center;
  width: 100%;
}
.colors button {
  border-radius: 100%;
  background-color: #ff7f11;
  border-style: none;
  padding: 16px;
  font-family: "Dancing Script", "Tangerine", monospace;
  color: #e2e8ce;
  font-size: 21px;
}
